* {
  margin: 0;
  padding: 0;
}

section {
  height: auto;
  width: auto;
  background-image: url("./assets/1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(227, 201, 201);
  font-family: "Architects Daughter", cursive;
  text-align: center;
  font-size: 130%;
  animation: animateBg 20s ease-in infinite;
}

@keyframes animateBg{
  100%{
    filter: hue-rotate(360deg);
  }
}

.container-fluid{
  height: auto;
  min-height: 25.5rem;
  max-width: auto;
  min-width: 15rem;
  background-color: white;
  background: transparent;
  backdrop-filter: blur(50px);
  border-radius: 1rem;
  border: 2px solid rgba(255, 255, 255, 5);
  padding: 1rem;
  box-sizing: border-box;
  margin: 5%;
  overflow-wrap: break-word;
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.titulo h1 {
  transform: rotate(2deg);
  padding: 0.2rem 1.2rem;
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  background-color: #21c763;
  font-size: 1.5rem;
}

.formulario input {
  box-sizing: border-box;
  background-color: transparent;
  padding: 0.7rem;
  border-bottom-right-radius: 15px 3px;
  border-bottom-left-radius: 3px 15px;
  border: solid 3px transparent;
  border-bottom: dashed 3px #90b9a1;
  font-family: "Architects Daughter", cursive;
  font-size: 1rem;
  color: white;
  width: 70%;
  margin-bottom: 20px;
}

button {
  padding: 0;
  border: none;
  font-family: "Architects Daughter", cursive;
  text-decoration: none;
  padding-bottom: 3px;
  border-radius: 5px;
  background-color: #1e8a9d;
}

button span {
  background: #89e9b0;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid hsl(198, 1%, 29%);
}

li {
  width: auto;
  text-align: left;
  position: relative;
  padding: 0.5rem;
  margin-left: 2rem;
}

